<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSRF Token -->
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <title></title>
    <link rel="stylesheet" href="/img/font-awesome/css/font-awesome.min.css">

    <!-- Styles -->
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
</head>
<body>
    <div id="app" class="main-container flex">
        <header>
            <h1>Admin Dashboard</h1>
        </header>
        <div class="flex flex-wrap">

            <side-bar-component>
            </side-bar-component>
            <div class="content lg:w-5/6 sm:w-full">
                <home-component>
                </home-component>
            </div>
        </div>
    </div>

    <script src="{{ mix('/js/app.js') }}"></script>
</body>
</html>
